form{
  width: 25%;
  margin-left: 38%;
  background-color: rgb(39, 211, 234);
  border-radius: 15px;
}
#fname{
  width: 49%;
}
#lname{
  width: 49%;
}
button{
margin-left: 90px;
}
#had{
  margin-top: -10px;
}
#show{
  text-align: center;
}